@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';

}

body {
    min-height: 100vh;
    background: rgb(93, 224, 230);
    background: linear-gradient(90deg, rgba(93, 224, 230, 1) 0%, rgba(0, 74, 173, 1) 100%);
}

.container {
    position: absolute;
    top: 5%;
    right: 10%;
}

.input-text-field {
    padding: 0.75rem;
    margin: 1.25rem 0;
    border-radius: 0.25rem;
    border-width: 1px;
    outline-style: none;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.sky-card {
    border-radius: 1.5rem;
    width: 100%;
    backdrop-filter: blur(9px) saturate(90%);
    -webkit-backdrop-filter: blur(9px) saturate(90%);
    background-color: rgba(255, 255, 255, 0.33);
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.sky-card__temp {
    display: flex;
    justify-content: space-between;
}

.sky-card__temp-data {
    background: #f0f9ff;
    padding: 10px 20px;
    border-radius: 8px;
}

.sky-card__heading {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
}

.data {
    display: block;
    justify-content: space-between;
    width: 10rem;
}

.data-element {
    margin: 0.75rem 0;
    border-radius: 0.375rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 600;
    text-align: center;
    background-color: #DBEAFE;
}

.data-element div {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.data-element span {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
}

.data-element__detail {
    display: flex;
    margin: 0.5rem 0;
    gap: 0.25rem;
    justify-content: center;
    align-items: center;
}

.data-element__details--icons {
    color: #3B82F6;
}

.data-temp {
    position: relative;
    font-size: 4.5rem;
    line-height: 1;
    font-weight: 700;
    text-align: center;
}

.data-temp span {
    position: absolute;
    top: 0;
    font-size: 1rem;
    line-height: 1.5rem;
}

.data-city {
    margin: 0.5rem 0;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
}

.data-image {
    width: 10rem;
    height: 10rem;
    display: block;
    margin: 0 auto;
}

.footer {
    margin-top: 1.25rem;
    text-align: center;
    color: #1F2937;

}

.footer a {
    color: #101010;
    font-weight: 600;
}

/* Media Query */
@media (min-width: 768px) {
    .input-text-field {
        margin: 2.5rem 0;
        width: 83.333333%;
    }

    .sky-card {
        padding: 2.5rem;
        width: 83.333333%;
    }

    .sky-card__heading {
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 20px 0;
    }

    .data {
        display: flex;
        width: auto;
    }

    .data-element {
        padding: 0.5rem 1.25rem;
        margin: 0.5rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .data-element span {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .data-element__detail {
        gap: 0.75rem;
    }

    .data-temp {
        margin: 25px 0;
    }

}

@media (min-width: 1024px) {
    .container {
        width: 58.333333%;
    }
}

@media (min-width: 1280px) {

    .input-text-field,
    .sky-card {
        width: 66.666667%;
    }
}